div {
  background-color: #8585ad;
  height: 400px;
  width: 600px;
  margin: 15px;
}

#maindiv {
  width: 90%;
  height: 80%;
  border-radius: 10px;
  padding: 7px;
}

#quoteID {
  background-color: #bfbfbf;
  width: 75%;
  height: 60%;
  border-radius: 10px;
  padding: 7px;
}

#tweet {
  width: 175px;
  height: 45px;
  border-radius: 10px;
  padding: 5px;
}

h3 {
  margin-top: 10px;
}

p {
  margin: 25px;
  font-size: 1.4em;
}

a {
  font-size: 1.3em;
}

#newQuote {
  margin: 10px;
  font-size: 1.3em;
}